<div class="row">
  <div class="col-sm-10">
    <h3>Enter amount of cents to find the smallest number of coins needed to make change.</h3>

    <form action='/results'>
      <div class="form-group">
        <label for="sender">Amount in cents</label>
        <input id="sender" name="sender" class="form-control" type="text">
      </div>
      <button type="submit" class="btn">Make Change!</button>
    </form>
  </div>
</div>
